* {
    color: white;
}
body {
    display:grid;
    background-image: url(../img/travel.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%
      
}

h1 {
    
    padding: 1em;
    border: 50px;
}
h3 {
    background: green;
    grid-gap: 1em;
    padding: 1em;
   
}
